In [23]:
data = [{"employee_name": "james", "email": "james@gmail.com", "job_profile": {"title1":"Team Lead", "title2":"Sr. Developer"}}]

In [2]:
type(data)

str

In [3]:
import pandas as pd

In [ ]:
pd.read_json(data)

C:\Users\priya\AppData\Local\Temp\ipykernel_7888\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [6]:
pd.read_json(data,orient='records')

C:\Users\priya\AppData\Local\Temp\ipykernel_7888\2317705276.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='records')

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [7]:
pd.read_json(data,orient='index')

C:\Users\priya\AppData\Local\Temp\ipykernel_7888\131370662.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='index')

                                                               0
employee_name                                              james
email                                            james@gmail.com
job_profile    [{'title1': 'Team Lead', 'title2': 'Sr. Develo...

In [8]:
pd.read_json(data,orient='split')

C:\Users\priya\AppData\Local\Temp\ipykernel_7888\3697807316.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='split')

ValueError: JSON data had unexpected key(s): email, employee_name, job_profile

In [9]:
pd.read_json(data,orient='columns')

C:\Users\priya\AppData\Local\Temp\ipykernel_7888\3187651850.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='columns')

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [10]:
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                  index=['row1', 'row2'],
                  columns=['col1','col2'])

In [11]:
df

     col1 col2
row1    a    b
row2    c    d

In [12]:
df.to_json()

'{"col1":{"row1":"a","row2":"c"},"col2":{"row1":"b","row2":"d"}}'

In [13]:
df.to_json(orient='index')

'{"row1":{"col1":"a","col2":"b"},"row2":{"col1":"c","col2":"d"}}'

In [14]:
df.to_json(orient='columns')

'{"col1":{"row1":"a","row2":"c"},"col2":{"row1":"b","row2":"d"}}'

In [15]:
df.to_json(orient='records')

'[{"col1":"a","col2":"b"},{"col1":"c","col2":"d"}]'

In [16]:
df.to_json(orient='split')

'{"columns":["col1","col2"],"index":["row1","row2"],"data":[["a","b"],["c","d"]]}'

In [17]:
df.to_json(orient='table')

'{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col1","type":"string"},{"name":"col2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row1","col1":"a","col2":"b"},{"index":"row2","col1":"c","col2":"d"}]}'

In [18]:
schema = '{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col1","type":"string"},{"name":"col2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row1","col1":"a","col2":"b"},{"index":"row2","col1":"c","col2":"d"}]}'

In [19]:
pd.read_json(schema,orient='table')

C:\Users\priya\AppData\Local\Temp\ipykernel_7888\3334002861.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(schema,orient='table')

     col1 col2
row1    a    b
row2    c    d

In [20]:
pd.read_json(data)

C:\Users\priya\AppData\Local\Temp\ipykernel_7888\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [24]:
pd.json_normalize(data)

  employee_name            email job_profile.title1 job_profile.title2
0         james  james@gmail.com          Team Lead      Sr. Developer

In [25]:
pd.json_normalize(data,max_level=1)

  employee_name            email job_profile.title1 job_profile.title2
0         james  james@gmail.com          Team Lead      Sr. Developer